%h1 Welcome to my Blogger

%h2 What you can do here...

%ul.features
	%li Create your personal article.
	%li Add other's articles to your favourites' list.
	%li Write your opinion about articles by commenting on them.
	%li Find articles by their corresponding tags.
	%li Add favourite tags to your own list.