<h1>Listing all articles</h1>
<div class = "article_list">
	<ul>
	<% @articles.each do |article| %>
		<li>
			<h3 class = "article_name"><%= link_to article.title, article_path(article), class: 'article_title',
																												id: "article_#{article.id}" %></h3>
		<div style = "margin-bottom: 10px;"><%= tag_links(article.tags) %></div>
		
		</li>
	<% end %>
</ul>
</div>

<%= link_to "Create new aricle", new_article_path, class: 'new_article' %>