%h1 Authors

%table
	- @authors.each do |author|
		%tr
			%td
				%h2
					= link_to author.name, authors_show_path
			- if current_author.admin? && author != current_author
				%td
					=button_to "Delete", authors_destroy_path(author), method: :delete


	