%h1 Authors

%table
	- @authors.each do |author|
		%tr
			%td
				%h2
					= link_to author.name, author_path(author)
			- if current_author.admin? && author != current_author
				%td
					=button_to "Delete", author_path(author), method: :delete


	