<h1>Tags</h1>

<table>
	<% @tags.each do |tag| %>
	<tr class = "tag_row">
		<td style="font-size: 20px;">
			<%= link_to tag, tag_path(tag) %>
		</td>
    <% if author_signed_in? %>
    	<% unless tag.authors.include?(current_author) %>
			<td><%= button_to "Add", { action: "add_tag_to_author", id: tag.id },
																method: :put %></td>
			<% else %>													
				<td><p class="add_tag">Added</p></td>
			<% end %>
		<% end %>
		<% if author_signed_in? &&  current_author.admin? %>
			<td ><%= button_to "Delete", { :action => "destroy", :id => tag.id }, :confirm => "Are you sure?",													method: :delete %></td>
		<% end %>
	</tr>
	<% end %>
</table>